.root {
  display: inline-flex;
  gap: 0.5rem;
  border: none;
  padding: 0;
  align-items: center;
}

.root input {
  display: none;
}

.option {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--text-muted);
  border-radius: var(--radius-sm);
  transition: all 0.2s ease;
}

.option:hover {
  color: var(--text-main);
  background-color: var(--surface-alt);
}

.root input:checked + .option {
  background-color: var(--surface-alt);
  color: var(--text-main);
}

